{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}

<h1>Test Page</h1>
<p>We're testing some jQuery stuff.</p>

{{#section 'jquery'}}
    <!---<script>
        $(document).ready (()=> {
            $(h1).html('jQuery Works !');
        })l;
    </script>-->
    <h1> It Workks</h1>
{{/section}}